@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.btn-glow {
  background-color: #F60462;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  animation: rippleGrow 3s infinite;
}

@keyframes rippleGrow {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  50% {
    box-shadow: 0 0 0 10px rgba(246, 4, 98, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(246, 4, 98, 0);
  }
}

.hover-ripple:hover {
  animation: blueRipple 3s infinite;
  border-radius: 50%;
}

@keyframes blueRipple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  50% {
    box-shadow: 0 0 0 10px rgba(0, 0, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 255, 0);
  }
}